<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<script src="https://d3js.org/d3.v7.min.js"></script>
	<script type="text/javascript">
		data = <%-JSON.stringify(dict)%>
		console.log(data)
	</script>
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<table>
		<tr>
			<th>Channel Name</th>
			<th>Occurences</th>
		</tr>
	</table>
</body>
</html>