<!DOCTYPE html>
<html>
<head>
	<title>Please upload a file</title>
</head>
<body>
	<form action="/loadfile" method="POST" enctype="multipart/form-data">
		<label for="ythistory">Please upload a YouTube history file (Takeout/YouTube and YouTube Music/history/watch-history.html)</label>
		<input type="file" name="ythistory">
		<input type="submit" name="submit" value="Submit">
	</form>
</body>
</html>